

.openBtns {
  background-color: aliceblue;
  border: 1px #0078d7 solid;
  width: 100vw;
}

.openBtn {
  margin: 5px;
  border-color: #97cdf9;
  border-radius: 10px;

  color: black;
  box-shadow: 0 0 40px 40px #abd3f1 inset, 0 0 0 0 #97cdf9;
  box-shadow: 0 0 40px 40px #b4d7f3 inset, 0 0 0 0 #97cdf9;
  transition: all 150ms ease-in-out;
  width: 120px;

  &:hover {
    box-shadow: 0 0 10px 0 #97cdf9 inset, 0 0 10px 4px #97cdf9;
  }
}

.gameBoard {
  width: 300px;
  margin: 10px;
  border: #97cdf9 solid 1px;
  border-radius: 15px;
}

.allBoards {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.TopPlayers {
  width: 100vw;
  border: solid 1px #0078d7;
  background-color: white;
  margin: 0;
}

.logo {
  width: 200px;
  height: 200px;
  padding: 0;
}

.logoDiv {
  width: 100vw;
  background-color: #97cdf9;
}